body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
}
a {
  &:hover {
    text-decoration: underline;
  }
}
::placeholder {
  font-family: var(--font-family);
  padding: 10px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

form {
  color: var(--gray-4);
}
