.btn {
  padding: 5px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s filter;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  &:hover {
    filter: opacity(0.8);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.btn-rt1 {
  background-color: var(--dark-1);
  color: var(--logo-1);
  border: 2px solid var(--dark-1);
}

.btn-rt2 {
  background-color: var(--dark-1);
  color: var(--logo-2);
  border: 2px solid var(--dark-1);
}

.btn-rt1dark {
  background-color: var(--dark-2);
  color: var(--logo-1);
  border: 2px solid var(--dark-2);
}

.btn-rt2dark {
  background-color: var(--dark-2);
  color: var(--logo-2);
  border: 2px solid var(--dark-2);
}

.btn-secondary {
  background-color: var(--secondary);
  color: white;
  border: 2px solid var(--secondary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: var(--border-radius);
  background-color: white;
}

.text-primary {
  color: var(--primary);
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

input {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: 14px;
}

.input-small {
  max-height: 28px;
  max-width: 130px;
}

.input-medium {
  max-height: 30px;
  max-width: 180px;
}

.input-large {
  max-height: 32px;
  max-width: 250px;
}

.label-small {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-error {
  margin: 0;
  color: var(--red-1);
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
}

.success-msg {
  margin: 0;
  color: green;
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
.appContainer {
  background-color: var(--gray-3);
}

//leaftlet

.map {
  z-index: 10 !important;
  .leaflet-control-zoom {
    margin: 5px;
    max-height: 42px;
    padding: 0;
  }
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20px;
    max-height: 20px;
    span {
      display: block;
      font-size: 16px;
    }
  }
  .leaflet-top {
    justify-content: end;
  }
}

.leaflet-control-container {
  margin-right: 10px;
  .leaflet-top {
    display: flex;
    width: 100%;
    .leaflet-control-geosearch {
      display: flex;
      width: 450px;
    }
    .glass {
      width: 100%;
    }
    form {
      width: 100%;
    }

    .reset {
      color: transparent;
    }

    .leaflet-control-zoom {
      height: 60px;
      background-color: white;
      //border: var(-gray-1) 2px solid;
    }
    .leaflet-bar a {
      background-color: transparent;
    }
    .results {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: var(--border-radius);
      margin-top: 10px;
      padding: 0 10px;
      font-size: 14px;
      color: white;
    }
    .geosearch {
      border: 0;
    }
  }
}
