.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.7;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.btn-danger {
  background-color: rgb(243, 36, 36);
  color: white;
  border: 1px solid rgb(243, 36, 36);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.heart-in {
  color: var(--primary) !important;
  transition: 1s all;
  animation: BeatIn 0.5s linear;
  @keyframes BeatIn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

.heart-out {
  color: var(--gray-light) !important;
  transition: 1s all;
  animation: BeatOut 0.5s linear;
  @keyframes BeatOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
}
