.homepage {
  position: relative;
  height: 640px;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  .calc {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(0.5) blur(3px);
  }
  h1 {
    margin-top: 150px;
    color: white;
    max-width: 325px;
  }
}
